spring:
    application:
        name:
            gateway-service
            
    cloud:
        gateway:
            routes:
                - id: user-service
                  uri: lb://user-service
                  predicates:
                    - Path=/api/users/**
                - id: cart-service
                  uri: lb://cart-service
                  predicates:
                    - Path=/api/carts/**
                - id: product-service
                  uri: lb://product-service
                  predicates:
                    - Path=/api/products/**

server:
    port: 8082